/*#GENERAL*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.body{
    background: #EDE7DE;
}
h1{

    font-family: "dejanire-headline", serif;
    font-weight: 900;
}
p{
    font-family: "nitti-grotesk", sans-serif;
    font-weight: 400;
    font-size: 1.5em;

}
.second, .third, .fourth{
    min-height: 100vh;
    max-height: 100vh;
}
/*#ENDGENERAL */

/* Styling for navigation bar */

.navbar{
    width: 100%;
    position: fixed;
    z-index: 1000;
    transition: all 0.3s ease 0s;
}

.nav_links{
    display: flex;
    justify-content: center;
    margin: 1.25rem auto 0;

}
.navbar_ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsla(45, 17%, 95%, .8);
    backdrop-filter: blur(20px) saturate(1.7);
    -webkit-backdrop-filter: blur(20px) saturate(1.7);
    margin: 0;
    padding: calc(1.25rem - 10px);
    border-radius: 50px;
    transition: all .2s linear;
}
.navbar_ul li{
    display: flex;
    position: relative;
}
.navbar_ul li a{
    display: flex;
    font-family: "nitti-grotesk", sans-serif;
    font-weight: 500;
    font-size: 1.20em;
    color:#791c10;
    margin: 0 3px;
    padding: calc(1rem - 8.3px) 1.27rem;
    
}
.navbar_ul li.active{
    background-color: hsla(0, 0%, 100%, .5);;
    border-radius: 1.5rem;
    transition: all .2s linear;
}

/*-----END OF SCROLL STUFF----*/

/* Styling for page 1 panel */
.first{
    min-height: 380px;
    height: 42vw;
    background: #EDE7DE;
    display: flex;
    align-items: center;
    padding-top: 2em;
}

.first .main_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
.intro{
    width: 55%;
    text-align: left;
}
.first h1 span{
    color: #ad392a;
    margin: 0;
}
.first h1{
    font-size: clamp(3.7rem, .5692rem + 6.238vw, 6rem);
    color: #383838;
    margin: 0;
    text-align: left;
}
.intro_content p{
    line-height: 1.4em;
    font-size: clamp(1.15rem, 2vw, 1.7rem);
    color: #383838;
}

.image_content img{
    filter: grayscale();
    width: 25vw;
    border-radius: 50%;
}


/* Styling for page 2 panel */
.second{
    width: 100%;
    display: flex;
    background: #EDE7DE;
    border-radius: 0%;
    justify-content: center;
    align-items: center;
}
.card_skills{
    width: 100%;
    height: 94.4vh;
    margin: 0 4rem;
    border-radius: 4rem;
    display: flex;
    align-items: center;

    background-color: #ad392a;
}
.card_skills h1 {
    font-size: 10em;
    color: #EDE7DE;
    margin: auto;
    text-align: center;
}

/* Styling for page 3 panel */

.third{
    width: 100%;
    display: flex;
    background: #EDE7DE;
}
.third h1 {
    font-size: 10em;
    color: #ad392a;
    margin: auto;
    text-align: center;
    
}


/* Styling for page 4 panel */
.fourth{
    width: 100%;
    display: flex;
    background: #EDE7DE;
    border-radius: 0%;
    justify-content: center;
    align-items: center;
}

.card_contact{
    width: 100%;
    height: 94.4vh;
    margin: 0 4rem;
    border-radius: 4rem;
    display: flex;
    align-items: center;

    background-color: #F4EEE6;
}
.card_contact h1 {
    font-size: 10em;
    color: #EDE7DE;
    margin: auto;
    text-align: center;
}
.fourth h1 {
    font-size: 10em;
    color: #ad392a;
    margin: auto;
    text-align: center;
}

